@import './../../styles.scss';
// ...............map google ..........//
agm-map {
    height: 300px;
}

// .............................///
.gallary .thumb-style .thumb-img {
    width: 23%;
    transition: all 0.3s ease-in-out;
    opacity: 0.5;
}

.thumb-style {
    text-align: center;
    padding-top: 20px;
}

.master-img img {
    max-height: 300px;
    min-height: 300px;
    max-width: 400px;
    min-width: 400px;
}

img.selected {
    opacity: 1 !important;
}

.places-section {
    padding-bottom: 30px;
}

.place-desc {
    font-family: 'Poppins', sans-serif;
    h1 {
        font-weight: 900;
    }
    .specificSpan {
        font-weight: 700;
    }
}

.games-section {
    padding: 50px 0;
    margin-bottom: 50px;
    box-shadow: -1px -2px 16px 21px #dddddd9e;
}

.games-details:hover {
    box-shadow: -1px 7px 11px 3px #e8e5e580;
}

.games-details {
    border: 1px solid #dddddda8;
    .game-name {
        background-color: $hcolors;
        color: #fff;
        text-transform: capitalize;
        text-align: center;
    }
    .game-img {
        text-align: center;
        img {
            width: 200px;
            height: 200px;
        }
    }
}

.game-img img {
    ///samaaaaaaaaaaa
    max-width: 100%;
    max-height: 100%;
}

.game-price {
    font-weight: 900;
    color: #ffa21d;
    font-size: 25px;
    span {
        font-weight: 100;
        font-size: $paragrphSize;
    }
}

.game-desc {
    min-height: 118px;
}

.subTotal-title {
    font-size: 25px;
    color: #d80707;
    font-weight: 600;
    span {
        font-weight: 100;
        font-size: 20px;
    }
}

.OnlineBooking {
    color: #00b467;
    font-weight: 600;
}

.onlinBtn {
    background-color: $hcolors;
    color: #fff;
}

.onlinBtn span {
    color: #fff;
}

// favourite
.fa-heart {
    font-size: 30px;
}

.solid {
    color: #dd583f;
}

// favourite
polygon {
    fill: $hcolors;
}

.payment-btn {
    background-color: $hcolors;
    border: $hcolors;
}

.payment-btn:hover {
    background-color: #ffa11d96;
}

.title {
    text-align: center;
    color: $hcolors;
    font-size: $h2;
}

.games-card {
    padding-bottom: 30px;
}

.game-count {
    text-align: center;
    span {
        padding: 5px 8px 8px;
        border: 1px solid;
    }
}

.nreaMe-section {
    padding-bottom: 100px;
    .title {
        text-align: center;
        color: $hcolors;
        font-size: 60px;
        line-height: 1.5;
        padding-bottom: 50px;
        height: 84px;
    }
    .imgs {
        text-align: center;
    }
}

.container-self {
    padding-top: $sectionMargin;
    width: 90%;
    margin: 0 auto;
}

.status {
    color: #00b467;
    line-height: 1.2;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
}

.specific-progress {
    display: inline-block;
    height: 12px;
    width: 24%;
}

.container-font {
    font-family: 'Poppins', sans-serif;
}

.specific-progress-warning {
    height: 20px;
    display: inline-block;
    background-color: $hcolors;
}

.full-start-color {
    color: $hcolors;
}

.empty-start-color {
    color: #ddd;
}

.reviewsRange h3 {
    height: 45px;
    font-size: 32px;
    color: $hcolors;
    font-weight: normal;
}

.userComm-section {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.reviewsWrite {
    color: $hcolors;
    font-size: 25px
}

// media query 
@media (min-width: 320px) and (max-width: 768px) {
    .thumb-style {
        display: none;
    }
    .reviewsWrite {
        display: none;
    }
    .customize-btn {
        background: $hcolors;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        color: #fff;
        height: 40px;
        font-size: $inputSize;
    }
     ::placeholder {
        font-size: $inputSize;
    }
    .editBtnMob,
    .deleteBtnMob {
        display: inline;
    }
    .deleteBtn,
    .editBtn {
        display: none;
    }
    h5.userName {
        font-size: $inputSize;
        font-weight: 600;
    }
}

.master-img2 {
    border-radius: 4%;
}