@import './../../styles.scss';
@font-face {
    font-family: caviardreams;
    src: url("./../../assets/fonts/caviar_dreams/CaviarDreams_Bold.ttf");
}

h2 {
    font-size: $h3;
    color: $hcolors;
    font-family: caviardreams;
    text-transform: capitalize;
}

.wrapper {
    width: $wrapper;
    padding: 10% 0 5% 0;
    p {
        font-size: $paragrphSize;
    }
    label {
        font-size: $paragrphSize;
    }
    input,
    option,
    select {
        font-size: $paragrphSize;
    }
    button {
        font-size: $paragrphSize;
    }
    .email {
        display: none;
    }
}

.makeYourPlan {
    display: none;
    background-color: #f2f2f2;
    width: 100%;
}

.plan {
    font-size: $paragrphSize;
    background-color: #ffffff;
    box-shadow: 3px 2px 3px 2px gray;
    border-radius: 15px;
    p {
        font-size: $paragrphSize;
    }
}

.planContainer img {
    border-radius: 24px;
    max-height: 250px;
}

.time {
    width: 153px;
}