<!-- start Header section -->

<div class="container-fluid  hero">
    <div class="wrapper text-right m-auto col-12">
        <h1>Let the journey begin...</h1>
    </div>
    <!-- search -->
    <div class="form-inline form my-2 my-lg-0 col-12 d-flex justify-content-md-center">
        <input #inputSearch class="form-control mr-sm-2 col-md-6 col-sm-12 mt-4 mt-md-0" type="search" placeholder="Search ..... "
            aria-label="Search " (input)="lookingFor($event) ">

        <button id="searchBtn2" class="btn btn-search d-none d-md-block  my-2 my-sm-0 " type="button"><i
                class="fas fa-search "></i></button>
        <div class=" searchResults bg-light d-block  rounded text-center">
            <a class="d-block text-home-search style-none py-1 w-100" *ngFor="let data of wanteddata "
                routerLink="/place/{{data.id}} " (click)="handlingSearch(inputSearch) ">{{data.name}}-<small>{{data.location}}</small></a>
        </div>
    </div>
    <!-- search -->
</div>
<!-- end Header section -->




<!-- start our place -->
<section class="container-custome col-12 order-1 our-places">
    <h2 class='placesTitle mb-4'>Our places</h2>
<!-- mobile -->
<div class="card-deck d-block d-md-none" *ngIf="places">
    <div class="card">
        <img src="{{places[1].mainImage}}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{places[1].name}}</h5>
          <p class="card-text">{{places[1].shortdesc}}.</p>
          <p class="card-text" (click)='navigateToId2()'><small class="text-muted">More Details</small></p>
        </div>
      </div>
    <div class="card">
        <img src="{{places[9].mainImage}}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{places[9].name}}</h5>
          <p class="card-text">{{places[9].shortdesc}}.</p>
          <p class="card-text" (click)='navigateToId3()'><small class="text-muted">More Details</small></p>
        </div>
      </div>
    <div class="card">
      <img src="{{places[0].mainImage}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{places[0].name}}</h5>
        <p class="card-text">{{places[0].shortdesc}}.</p>
        <p class="card-text" (click)='navigateToId1()'><small class="text-muted">More Details</small></p>
      </div>
    </div>
  </div>
<!-- mobile -->
    <div class="col-12 d-md-flex d-none justify-content-between">
        <figure *ngIf="places" class="col-3 place-img p-0">
            <div> <img src="{{places[0].mainImage}}" class="img-fluid master-img2"></div>

            <div *ngIf="places" class="overlay">
                <h4>{{places[0].name}}</h4>
                <p>{{places[0].shortdesc}}</p>
                <button class="mb-3 btn detail-btn" (click)='navigateToId1()'>More Details</button>
                <div class="icons">
                    <i class="fab fa-facebook-square mr-3" aria-hidden="true"></i>
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                </div>

            </div>
        </figure>

        <figure *ngIf="places" class="col-3 place-img p-0 ">
            <div><img src="{{places[1].mainImage}}" class="img-fluid master-img2"></div>

            <div *ngIf="places" class="overlay">
                <h4>{{places[1].name}}</h4>
                <p>{{places[1].shortdesc}}</p>
                <button class="mb-3 btn detail-btn" (click)='navigateToId2()'>More Details</button>
                <div class="icons">
                    <i class="fab fa-facebook-square mr-3" aria-hidden="true"></i>
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                </div>

            </div>
        </figure>
        <figure *ngIf="places" class="col-3 place-img p-0">
            <div class="imgss"><img src="{{places[9].mainImage}}" class="img-fluid master-img2"></div>
            <div *ngIf="places" class="overlay">
                <h4>{{places[9].name}}</h4>
                <p>{{places[9].shortdesc}}</p>
                <button class="mb-3 btn detail-btn" (click)='navigateToId3()'>More Details</button>
                <div class="icons">
                    <i class="fab fa-facebook-square mr-3" aria-hidden="true"></i>
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                </div>

            </div>
        </figure>
    </div>

</section>
<!-- end our place -->
<!-- start our category -->
<div class="recommendedCat">
    <div class="wrapper m-auto">
        <h2 class='placesTitle mb-4'>Our categories</h2>
        <div class="row" *ngIf="options">
            <div class="col-lg-3 col-md-12 d-none d-md-block">
                <div class="row">
                    <div (click)='toCategory5()' class="mb-4 col-lg-12  col-4 category-img">
                        <div><img class="img-fluid w-100" src="{{options[26].img}}" /></div>
                        <div class="overlay-cat">
                            <h5>{{options[26].name}}</h5>
                        </div>
                    </div>
                    <div (click)='toCategory8()' class="mb-4 col-lg-12  col-4 category-img">
                        <div> <img class="img-fluid  w-100" src="{{options[24].img}}" alt="" /></div>
                        <div class="overlay-cat">
                            <h5>{{options[24].name}}</h5>
                        </div>
                    </div>
                    <div (click)='toCategory7()' class="mb-4 col-lg-12  col-4 category-img">
                        <div class="img-div"><img class="img-fluid w-100" src="{{options[23].img}}" alt="" /></div>
                        <div class="overlay-cat ">
                            <h5>{{options[23].name}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="row mb-4 category-img" (click)='toCategory9()'>
                    <div class="col-12 px-0">
                        <div><img class="w-100" src="{{options[28].img}}" alt="" /></div>
                        <div class="overlay-cat w-100 d-none d-md-block">
                            <h5>{{options[28].name}}</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-6 img-div px-0 category-img" (click)='toCategory3()'>
                        <div class=" img-div "><img class="w-100  " src="{{options[31].img}}" /></div>
                        <div class="overlay-cat w-100 d-none d-md-block">
                            <h5>{{options[31].name}}</h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-6 pr-0 category-img " (click)='toCategory4()'>
                        <div class=" img-div "><img class="w-100" src="{{options[20].img}}" alt="" /></div>
                        <div class="specialoverlay-cat d-none d-md-block">
                            <h5>{{options[20].name}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end our category -->



<!--start About Us section -->
<div class="aboutUs">
    <div class="wrapper m-auto">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12 aboutUs-caption h-75">
                <h2>what we do ?</h2>
                <div class="row details">
                    <div class="col-1">
                        <i class="fas fa-check-circle  text-success"></i>
                    </div>
                    <div class="col-9">
                        <p>
                            Experience teamwork in a real product team and a collaborative effort for a common goal.
                        </p>
                    </div>
                </div>
                <div class="row details">
                    <div class="col-1">
                        <i class="fas fa-check-circle  text-success"></i>
                    </div>
                    <div class="col-9">
                        <p>
                            Experience teamwork in a real product team and a collaborative effort for a common goal.
                        </p>
                    </div>
                </div>
                <div class="row details">
                    <div class="col-1">
                        <i class="fas fa-check-circle  text-success"></i>
                    </div>
                    <div class="col-9">
                        <p>
                            Experience teamwork in a real product team and a collaborative effort for a common goal.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-8 p-0 slider-side d-none d-md-block">
                <div class="wallpaper m-auto"></div>
                <div class="slider  col-md-8 h-75 m-auto ">
                    <owl-carousel-o [options]="customOptions" #owlCat>
                        <ng-container *ngFor="let slide of slidesStor">
                            <ng-template carouselSlide>
                                <div class="slide m-auto">
                                    <img [src]="slide.img" />
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
            
           
            </div>
            <div class="col-12 d-block d-md-none">
                <img src="../../assets/Home/uriel-soberanes-MxVkWPiJALs-unsplash.png" class="img-fluid">
            </div>
       
        </div>
    </div>
</div>

<!-- end About Us section -->

<!-- start Sign Up section -->
<div class=" signUp">
    <div class="overlay2">
        <div class="wrapper text-center m-auto">
            <h2>get today's top offers</h2>
            <a class="btn btn-custome " routerLink='/Weekend'>Yalla Holiday</a>
        </div>
    </div>
</div>
<!-- end Sign Up section -->

<!-- start Yalla No5rog section -->
<div class="yallaNo5rog col-12 order-2">
    <div class="wrapper m-auto">

        <div class="row justify-content-around">
            <div class="col-lg-3 col-m-8 d-none d-md-block text-center">
                <figure class="first">
                    <img class="img-fluid " src="./../../assets/Home/Group 919.png" alt="" />
                </figure>
                <figure class="layer">
                    <img class="img-fluid" src="./../../assets/Home/Group 920.png" alt="" />
                </figure>
            </div>
            
            <div class="col-md-6 col-12 caption">
                <h2>why yalla GO ?</h2>
                <div class="mob-img col-12 d-flex d-md-none">
                    <div class="col-12"><img src="../../assets/Home/Group 919.svg" class="img-fluid"></div>
                </div>
                <p class="pt-3">
                    Yalla No5rog Is Your Entertainment Guide In Alexandria ... Let's Go Out. We Don't Have Data And
                    Data, But Let's Go Out With Integrated And Innovative Entertainment Programs.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- end Yalla No5rog section -->

<!-- start our team -->
<section class="ourTeam testemolians">
    <div class="info col-12">
        <h3 class="placesTitle pb-3">Our Team</h3>
    </div>
    <section class="container-custome row d-flex justify-content-center">
        <div class="col-md-3  text-center team-person col-12">
            <figure><img src="https://scontent-hbe1-1.xx.fbcdn.net/v/t1.15752-9/88154601_532955017628035_4089830586972110848_n.png?_nc_cat=102&_nc_sid=b96e70&_nc_ohc=ujQExJH2lEYAX8BvV0-&_nc_ht=scontent-hbe1-1.xx&oh=fcb5d7698e405b646ef11a82c79c2000&oe=5EB99E11" alt=""></figure>
            <h4>Samaa Amin</h4>
            <p class="trackTitle">Front-End Development</p>
            <div class=" d-flex mb-0 justify-content-center">
                <i class="fab fa-facebook-square pr-3 pl-4" aria-hidden="true"></i>
                <i class="fab fa-github-square pr-3" aria-hidden="true"></i>
                <i class="fab fa-linkedin"></i>
            </div>
        </div>
        <div class="col-md-3 col-12 text-center team-person">
            <figure><img src="https://scontent-hbe1-1.xx.fbcdn.net/v/t1.0-9/14955915_1355083291198901_998862539517691111_n.jpg?_nc_cat=109&_nc_sid=7aed08&_nc_ohc=wXCyH0GTueEAX_851fG&_nc_ht=scontent-hbe1-1.xx&oh=425cbc2b0b629c06d8429639d5df5a45&oe=5EF05D97" alt=""></figure>
            <h4>Sara Sherif</h4>
            <p class="trackTitle">Front-End Development</p>
            <div class=" d-flex mb-0 justify-content-center">
                <i class="fab fa-facebook-square pr-3 pl-4" aria-hidden="true"></i>
                <i class="fab fa-github-square pr-3" aria-hidden="true"></i>
                <i class="fab fa-linkedin"></i>
            </div>
        </div>
        <div class="col-md-3 col-12 text-center team-person">
            <figure><img src="https://scontent-hbe1-1.xx.fbcdn.net/v/t1.15752-9/88020039_1544029409099459_8920831985018994688_n.jpg?_nc_cat=106&_nc_sid=b96e70&_nc_ohc=93l82ZxIyUoAX-n3-52&_nc_ht=scontent-hbe1-1.xx&oh=8bd622864250b18651f7696a7f08ad4f&oe=5F023D38" alt=""></figure>
            <h4>Hend Diab</h4>
            <p class="trackTitle">Front-End Development</p>
            <div class=" d-flex mb-0 justify-content-center">
                <i class="fab fa-facebook-square pr-3 pl-4" aria-hidden="true"></i>
                <i class="fab fa-github-square pr-3" aria-hidden="true"></i>
                <i class="fab fa-linkedin"></i>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-3 col-12 text-center team-person">
            <figure><img src="https://scontent.fcai1-2.fna.fbcdn.net/v/t1.15752-9/89140773_2654108681310967_5796649422171406336_n.jpg?_nc_cat=102&_nc_sid=b96e70&_nc_ohc=_asSfoCyLOYAX9hmIs-&_nc_ht=scontent.fcai1-2.fna&oh=c2bf6215df83e141cb0cbde56b4b6da9&oe=5E97575A" alt=""></figure>
            <h4>Esraa Akl</h4>
            <p class="trackTitle">Front-End Development</p>
            <div class=" d-flex mb-0 justify-content-center">
                <i class="fab fa-facebook-square pr-3 pl-4" aria-hidden="true"></i>
                <i class="fab fa-github-square pr-3" aria-hidden="true"></i>
                <i class="fab fa-linkedin"></i>
            </div>
        </div>
        <div class="col-md-3 col-12 text-center team-person">
            <figure><img src="http://placehold.it/200/200" alt=""></figure>
            <h4>Mohamed Adel</h4>
            <p class="trackTitle">Front-End Development</p>
            <div class=" d-flex mb-0 justify-content-center">
                <i class="fab fa-facebook-square pr-3 pl-4" aria-hidden="true"></i>
            <i class="fab fa-github-square pr-3" aria-hidden="true"></i>
            <i class="fab fa-linkedin"></i>
            </div>
        </div>

    </section>

</section>
<!-- end our team section -->
