<section class="login container-fluid">
    <section class="login-wrapper row  d-flex justify-content-around">

        <section class="form-wrapper  col-md-6 col-sm-12" [ngClass]="{'owner':checkbox==true}">

            <form class="form-group container" [formGroup]='myForm' (ngSubmit)="onSubmit(myForm)">
                <!-- enter full name -->
                <div class="logo my-3 ">
                    <img src="https://i.postimg.cc/1RNT06sr/logo.png" alt="">
                </div>
                <div class="name my-3">
                    <input formControlName="name" placeholder="enter your full name">
                </div>
                <div class="errormsg" *ngIf="myForm.get('name').hasError('required') && myForm.touched">
                    this name is requeired
                </div>

                <!-- enter email -->
                <div class="email my-3">
                    <input formControlName="email" placeholder="Your email">
                </div>
                <div class="errormsg" *ngIf="myForm.controls.email.hasError('pattern')">
                    email must be "abc@abc.com"
                </div>
                <div class="errormsg" *ngIf="myForm.controls.email.hasError('required') && myForm.touched ">
                    email is requeired
                </div>

                <div class="password my-3">
                    <input formControlName="password" placeholder="password" type="password" appPassword>
                </div>
                <!-- password -->
                <div class="errormsg" *ngIf="myForm.controls.password.hasError('required') && myForm.touched ">
                    password is requeired
                </div>
                <div class="errormsg" *ngIf="myForm.controls.password.hasError('pattern')">

                    password must be at least 5 charachters and contain at least upper char, low char, number
                </div>
                <!-- confirm password -->
                <div class="confirmpass my-3">

                    <input formControlName="confirmPassword" placeholder="confirm password" type="password" appPassword>
                </div>

                <div class="errormsg " *ngIf="myForm.value.confirmPassword !== myForm.value.password && myForm.touched">
                    test doesn't match
                </div>

                <!-- sign up as owner -->
                <div class="checkbox my-3">
                    <input #owner type="checkBox" (click)="clickingCheckBox()">
                    <label class="">sign up as an owner</label>
                </div>

                <!-- ..............place form .................// -->
                <div class="d-flex flex-column justify-content-between place-form" *ngIf="checkbox==true">

                    <div class="my-3">
                        <input #placeNName placeholder="place name" (input)="verfyingPlcae(placeNName,
                        contact,address,desc,openHoursEnd,openHoursStart )" class="input col-12 ">
                        <div class="errormsg" *ngIf="placeNName.value.length==0">
                            *requeired
                        </div>
                    </div>
                    <div class="my-3">
                        <input class="col-12" #contact placeholder="Phone" type="text" (input)="verfyingPlcae(placeNName,
                        contact,address,desc,openHoursEnd,openHoursStart )">
                        <div class="errormsg" *ngIf="11>contact.value.length || +contact.value / 1 !== +contact.value">
                            *requeired and must be numbers
                        </div>
                    </div>
                    <div class="my-3">
                        <input #address placeholder="address" class="col-12" (input)="verfyingPlcae(placeNName,
                        contact,address,desc,openHoursEnd,openHoursStart )">
                        <div class="errormsg" *ngIf="5>address.value.length">
                            *requeired
                        </div>
                    </div>

                    <!-- <div class="my-3">
                        <input #location placeholder="location" class="col-12" (input)="verfyingPlcae(placeNName,
                        contact,address,desc,openHoursEnd,openHoursStart )">
                        <div class="errormsg" *ngIf="10>location.value.length">
                            *requeired
                        </div>
                    </div> -->

                    <div class="btn-group col-sm-12 col-md-4 my-3">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">

                            Locations: <span *ngIf="locationSelectedText">{{locationSelectedText}}</span>
                        </button>
                        <div class="dropdown-menu">
                            <a *ngFor="let i of locations" class="dropdown-item" value="i"
                                (click)="gettingLocations($event)">{{i}}</a>

                        </div>
                    </div>





                    <div class="d-flex flex-row justify-content-between my-3 ">
                        <div class="opentime d-flex flex-row justify-content-between align-items-center col-6">
                            <label>Open from:</label>
                            <input class="col-6" #openHoursStart type="time" placeholder="" (input)="verfyingPlcae(placeNName,
                            contact,address,desc,openHoursEnd,openHoursStart )">
                        </div>
                        <div class="opentime d-flex flex-row justify-content-between col-5 align-items-center">
                            <label class="col-6"> to:</label>
                            <input class="col-6" #openHoursEnd type="time" placeholder="" (input)="verfyingPlcae(placeNName,
                            contact,address,desc,openHoursEnd,openHoursStart )">
                        </div>
                    </div>
                    <div class="errormsg" *ngIf="5>openHoursStart.value.length || 5>openHoursEnd.value.length">
                        *requeired
                    </div>


                    <div class="my-3">
                        <textarea #desc placeholder="description" class="col-12" (input)="verfyingPlcae(placeNName,
                        contact,address,desc,openHoursEnd,openHoursStart,true )"></textarea>

                        <div class="errormsg" *ngIf="10>desc.value.length">
                            *requeired
                        </div>
                    </div>

                    <!-- <div class="my-3">
                        <input class="file" #imgPlace type="file" (change)="readURL($event)">
                    </div>
                    <div class="btn-group my-3 ">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->


                    <div class="  my-3" id="img">
                        <label> Upload main picture of your place:</label>

                        <label class="custom-file-upload">
                            <input class="mainImg" #imgPlace type="file" (change)="readURL($event)">
                            <i class="fa fa-cloud-upload"> Upload</i>
                        </label>
                    </div>

                    <!-- <input class="file " #imgPlace type="file" (change)="readURL($event)">  -->
                    <button type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                        aria-controls="collapseExample">
                        select categories
                    </button>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body d-flex flex-row flex-wrap ">
                            <div *ngFor="let place of cats ;let item = index;" class="d-flex  col-4 align-items-center">
                                <input #item id="{{place.id}}" class="categories " type="checkbox" name="{{item}}"
                                    value={{place.name}} (click)="selectingCats()">
                                <label for="vehicle3">{{place.name}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="errormsg" *ngIf=" celectedArr.length == 0 || celectedArr.length>3">
                        *requeired and maximum 3 categories
                    </div>

                    <div class=" my-3 dropdown d-flex flex-row flex-wrap justify-content-between">
                        <div class="btn-group col-sm-12 col-md-4 my-3">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">

                                status: <span *ngIf="statusOwner">{{statusOwnerText}}</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" value="open now" (click)="gettingStatus($event)">open now</a>
                                <a class=" dropdown-item" value="closed" (click)="gettingStatus($event)">closed</a>
                            </div>
                        </div>

                        <div class="btn-group col-sm-12 col-md-4 my-3">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Reservation:<span *ngIf="reservationOwner">{{reservationOwnerText}}</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" value="true" (click)="gettingReservation($event)">Yes</a>
                                <a class=" dropdown-item" value="false" (click)="gettingReservation($event)">No</a>
                            </div>
                        </div>

                        <div class="btn-group col-sm-12 col-md-4 my-3">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                kids-Friendly:<span *ngIf="kidsOwner">{{kidsOwnerText}}</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" value="true" (click)="gettingKidsArea($event)">Yes</a>
                                <a class=" dropdown-item" value="false" (click)="gettingKidsArea($event)">No</a>
                            </div>
                        </div>
                    </div>



                </div>

                <!-- <div class="btn-group ">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            kids-Friendly:<span *ngIf="kidsOwner">{{kidsOwnerText}}</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" value="true" (click)="gettingKidsArea($event)">Yes</a>
                            <a class=" dropdown-item" value="false" (click)="gettingKidsArea($event)">No</a>
                        </div>
                    </div> -->

                <!-- </div> -->
                <!-- ............................................./// -->
                <div class="button my-3">
                    <button type="submit"
                        [disabled]="(!myForm.valid || myForm.value.confirmPassword !== myForm.value.password ) || chechDiv==false">Sign
                        up</button>
                </div>

                <div class="button loginbtn">
                    Already have an account? <span routerLink="/login"> log in</span>
                </div>
            </form>
        </section>

    </section>
</section>